extends layout

block content
  section.sensors
    each s in tempSensors
      div.sensor
        div.sensor-name= s.name
        div.sensor-temp
          span= s.state.temperatureC
          span °
